<p id="notice"><%= notice %></p>

<h1>Category Fields</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_fields.each do |category_field| %>
      <tr>
        <td><%= category_field.name %></td>
        <td><%= category_field.type %></td>
        <td><%= category_field.info %></td>
        <td><%= link_to t('action.show'), category_field %></td>
        <td><%= link_to t('action.edit'), edit_category_field_path(category_field) %></td>
        <td><%= link_to t('action.destroy'), category_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Field', new_category_field_path %>
