<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.user.first_name') %></th>
      <th><%= t('activerecord.attributes.user.middle_name') %></th>
      <th><%= t('activerecord.attributes.user.last_name') %></th>
      <th><%= t('activerecord.attributes.user.phone') %></th>
      <th><%= t('activerecord.attributes.user.promo') %></th>
      <th><%= t('activerecord.attributes.user.gender') %></th>
      <th><%= t('activerecord.attributes.user.birth_date') %></th>
      <th><%= t('activerecord.attributes.user.deleted_at') %></th>
      <th><%= t('activerecord.attributes.user.blocked_at') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.middle_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.phone %></td>
        <td><%= user.promo %></td>
        <td><%= t("user.gender.#{user.gender}") %></td>
        <td><%= user.birth_date %></td>
        <td><%= user.deleted_at %></td>
        <td><%= user.blocked_at %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
