<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.user.first_name') %>:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.middle_name') %>:</strong>
  <%= @user.middle_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.last_name') %>:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.phone') %>:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.promo') %>:</strong>
  <%= @user.promo %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.gender') %>:</strong>
  <%= t("user.gender.#{@user.gender || :void}") %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.birth_date') %>:</strong>
  <%= @user.birth_date %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.deleted_at') %>:</strong>
  <%= @user.deleted_at %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user.blocked_at') %>:</strong>
  <%= @user.blocked_at %>
</p>

<p>
  <strong><%= t('activerecord.attributes.user_role.positions') %>:</strong>
  <div>
    <% @user.roles.each do |role| %>
      <%= I18n.t("role.position.#{role.position}") %>
    <% end %>
  </div>
</p>

<p>
  <strong>Created by user:</strong>
  <%= @user.created_by_user&.full_name_with_id %>
</p>

<%= link_to t('action.edit'), edit_user_path(@user) %> |
<%= link_to t('action.back'), users_path %>
